.footer {
    background: #f3f8f8;
    &-container {
        @include container();
        padding: 4.89em 5.43em 22px;
    }

    &-wrapper {
        display: flex;
        gap: 15.22em;

        @include sm-screen {
            flex-direction: column;
        }
    }

    &-logo {
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
        text-transform: uppercase;
        color: $blue;
    }

    &-sub-desc {
        font-size: 16px;
        line-height: 150%;
        color: $blue;
        margin: 14px 0px 19px;
        max-width: 224px;
    }

    &-socials {
        display: flex;
        gap: 8px;
    }

    &-icon {
        height: 40px;
        width: 40px;
        background: #e6ebeb;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .twitter {
            width: 16px;
            height: 12px;
        }
        .insta {
            width: 17px;
            height: 17px;
        }
        .fb {
            width: 8px;
            height: 17px;
        }
    }

    &-right {
        display: flex;
        gap: 9.99em;
        flex-grow: 1;

        @include sm-screen {
            flex-direction: column;
        }
    }

    &-links {
        display: flex;
        gap: 8.08em;

        @include mb-portrait {
            flex-direction: column;
        }
    }

    &-pages {
        font-size: 16px;
        line-height: 150%;
        color: $blue;
        margin-bottom: 32px;
    }

    &-links-list {
        .links {
            font-weight: 500;
            font-size: 20px;
            line-height: 160%;
            color: $blue;
        }
    }

    &-subscribe {
        flex-grow: 1;
    }

    &-subscribe-form {
        display: flex;
        flex-direction: column;
    }

    &-subscribe-email {
        padding: 16px 24px 16px;
        font-size: 16px;
        line-height: 150%;
        color: $blue;
        background: #ffffff;
        border: 1px solid rgba(18, 52, 71, 0.25);
        border-radius: 12px;
    }

    &-subscribe-btn {
        padding: 16px 24px 16px;
        font-size: 16px;
        line-height: 150%;
        color: $white;
        background: $blue;
        border-radius: 8px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin: 12px 0px 16px;
    }

    &-subsr-desc {
        font-size: 12px;
        line-height: 183%;
        letter-spacing: 0.02em;
        color: $blue;
        opacity: 0.7;
    }
}
