*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $lexend;
    font-weight: 300;
}

body {
    background: $gradient-blue;
    font-size: 1vw;
}

a,
li {
    text-decoration: none;
    list-style: none;
}

img {
    max-width: 100%;
}

@media only screen and (min-width: 1472px) {
    body {
        font-size: 13px;
    }
}
