$gradient-blue: linear-gradient(0deg, #123447 100%, #0b202c 100%);
$white: #fff;
$blue: #123447;
$white-font: #f3f8f8;
$white-bg: #e5e5e5;

$crimson: "Crimson Pro", serif;
$lexend: "Lexend", sans-serif;
